@import "tailwindcss";

@theme {
  --color-primary: #FFF9F9;   /* background -  not white */  
  --color-secondary: #000000; /* text/nav/footer */
  --color-accent: #E91E63;    /* buttons/hover/highlights */ 
}
